/* #main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: aqua;
}
.questionul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
} */
.listItem {
  /* margin: 20px; */
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  border: 1px solid #ccc;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 5px;
  background-color: white;
  border-radius: 4px;
}
/* .listItem:hover {
  background-color: #f7f7f7;
} */

.question {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.question:hover {
  text-decoration: underline;
}
.bottom {
  align-self: end;
}

body {
  background-color: #e6e6e6;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* .question-square {

  border: 1px solid black;
} */
