.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: white;
}
/* 
.navlist {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
} */

.profile-dropdown {
}
